<div class="form-group" ng-dblclick="checklistExpanded = true">
	<label>Checklist/Guidance</label><br />
	<p>(double-click to edit text) </p>
	<div ng-hide="checklistExpanded">
		<div ng-include="'patients/_checklist_compact.html'"></div>
		<br />
		<br /> <!-- some space to doubleclick-->
	</div>
	
	<div ng-show="checklistExpanded">
		<textarea class="form-control" ng-blur="checklistExpanded = false" ng-change="patient.doc.checklistParse()" ng-model="patient.doc.checklist" autosave-patient="patient" rows="20"></textarea>
	
		<pre>
Example:
[] new task
[x] completed task
* if then
		</pre>
	</div>
</div>
