<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<div ng-include="'patients/_nav_layouts.html'"></div>

<div class="pull-right">
	<h3><i class="fa fa-print"></i></h3>
</div>

<h3>{{ patient.name }} / Discharging</h3>

<div class="alert" ng-show="patient.doc.changed()" style="position: fixed; top: 0; right: 0; z-index: 10000;">There are unsaved changes</div>


<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label>Event archive</label><br />
			<textarea class="form-control" ng-model="patient.doc.event_archive" ng-change="saveIntermittently(patient)" ng-blur="save(patient)" rows="6"></textarea>
		</div>
		
		<div class="form-group">
			<label>Exam</label><br />
			<textarea class="form-control" ng-model="patient.doc.exam" ng-change="saveIntermittently(patient)" ng-blur="save(patient)"></textarea>
		</div>

		<div class="form-group">
			<label>Data</label><br />
			<textarea class="form-control" ng-model="patient.doc.data" ng-change="saveIntermittently(patient)" ng-blur="save(patient)"></textarea>
		</div>

		<div class="form-group">
			<label>One-liner</label><br />
			<textarea class="form-control" ng-model="patient.doc.one_liner" ng-change="saveIntermittently(patient)" ng-blur="save(patient)" ></textarea>
		</div>


		<div class="form-group">
			<label>Plan</label><br />
			<textarea class="form-control" ng-model="patient.doc.assessment_and_plan" ng-change="saveIntermittently(patient)" ng-blur="save(patient)" rows="10"></textarea>
		</div>

		<div class="form-group">
			<label>Plan archive (and resolved problems)</label><br />
			<textarea class="form-control" ng-model="patient.doc.plan_archive" ng-change="saveIntermittently(patient)" ng-blur="save(patient)" rows="5"></textarea>
		</div>

		
	</div><!-- /col -->
	<div class="col-sm-4">
		<div class="well">
			<div ng-include="'patients/_checklist_guidance_panel.html'"></div>
		</div>
		
	</div><!-- /col -->
</div>


