<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<div ng-include="'patients/_nav_layouts.html'"></div>


<div class="row hidden-print">
	<div class="col-sm-6">
		<div class="form-group">
			<select class="form-control" ng-options="cohort as cohort.name for cohort in cohorts track by cohort.id" ng-model="Cohort.active" ng-change="activateCohort(Cohort.active)"></select>
		</div><!-- form-group -->
	</div><!-- /col -->
	<div class="col-sm-6">
	</div><!-- /col -->
</div><!-- /row -->


<div class="pull-right">
	<i class="fa fa-print"></i>
</div>

<h4>Covering</h4>
<p>Patients in <span ng-repeat="service_name in Cohort.active.service_names">{{service_name}} </span></p>


<table id="covering-table" class="table table-condensed">
	<tr>
		<th></th>
		<th>One-liner</th>
		<th>Interval events</th>
		<th>Checklist/Guidance</th>
	</tr>
	<tr ng-class="isActive(patient) ? 'active' : ''" ng-repeat="patient in patients" ng-click="activate(patient)">
		<td>
			<p>{{ patient.name }} <a href="/#/patients/{{ patient.id }}/edit"><i class="fa fa-pencil"></i></a></p>
			<p>{{ patient.location }}</p>
			<p>{{ patient.doc.emergency_contact }}</p>
			
			<div class="alert" ng-show="patient.doc.changed()" style="position: fixed; top: 0; right: 0; z-index: 10000;">There are unsaved changes</div>
			
			
		</td>
		
		<td style="padding: 0px; ">
			<textarea ng-model="patient.doc.one_liner" class="hidden-print xform-control" ng-change="saveIntermittently(patient)" ng-blur="save(patient)"></textarea>
			<div class="visible-print-block">{{ patient.doc.one_liner }}</div>
			
		</td>
		<td style="padding: 0px; ">
			<textarea ng-model="patient.doc.interval_events" class="hidden-print xform-control" ng-change="saveIntermittently(patient)" ng-blur="save(patient)"></textarea>
			<div class="visible-print-block">{{ patient.doc.interval_events }}</div>
			
		</td>
		<td style="padding: 0px; ">
			<textarea ng-model="patient.doc.checklist" class="hidden-print xform-control" ng-change="saveIntermittently(patient)" ng-blur="save(patient)"></textarea>
			<div class="visible-print-block">{{ patient.doc.checklist }}</div>
		</td>
	</tr>
	<style type="text/css" media="screen">
		#covering-table textarea {
			width: 100%; 
			border: 0px;
			background-color: transparent;
			height: 100px;
		}
		.visible-print-block {
			font-size: 8px;
		    display: block;
		    padding: 9.5px;
		    margin: 0 0 10px;
		    word-break: break-all;
		    word-wrap: break-word;
		}
	</style>
</table>

<a href="#/patients/new">New Patient</a>