<div class="alert alert-warning" ng-show="flash.getMessage()">
    <p>{{flash.getMessage()}}</p>
</div>

<div ng-include="'patients/_nav_layouts.html'"></div>


<div class="row hidden-print">
	<div class="col-sm-6">
		<div class="form-group">
			<select class="form-control" ng-options="cohort as cohort.name for cohort in cohorts track by cohort.id" ng-model="Cohort.active" ng-change="activateCohort(Cohort.active)"></select>
		</div><!-- form-group -->
	</div><!-- /col -->
	<div class="col-sm-6">
	</div><!-- /col -->
</div><!-- /row -->


<div class="pull-right">
	<i class="fa fa-print"></i>
</div>

<h4>Covering</h4>
<p>Patients in <span ng-repeat="service_name in Cohort.active.service_names">{{service_name}} </span></p>


<div id="covering-table">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-3">One-liner</div>
		<div class="col-xs-3">Interval events</div>
		<div class="col-xs-3">Checklist/Guidance</div>
	</div>
	
	<div class="row" ng-class="isActive(patient) ? 'active' : ''" ng-repeat="patient in patients" ng-click="activate(patient)">
		<div class="col-xs-3">
			<a class="pull-right  hidden-print" href="/#/patients/{{ patient.id }}/edit"><i class="fa fa-pencil"></i></a>
			<p><b>{{ patient.name }}</b></p>
			<p>{{ patient.location }}</p>
			<p>{{ patient.doc.emergency_contact }}</p>
			
			<div class="alert" ng-show="patient.doc.changed()" style="position: fixed; top: 0; right: 0; z-index: 10000;">There are unsaved changes</div>
		</div><!-- /col -->
		
		<div class="col-xs-3" style="padding-right: 0px; ">
			<textarea ng-model="patient.doc.one_liner" class="hidden-print xform-control" autosave-patient="patient" ></textarea>
			<div class="visible-print-block">{{ patient.doc.one_liner }}</div>
			
		</div><!-- /col -->
		
		<div class="col-xs-3" style="padding-right: 0px; ">
			<textarea ng-model="patient.doc.interval_events" class="hidden-print xform-control" autosave-patient="patient" ></textarea>
			<div class="visible-print-block">{{ patient.doc.interval_events }}</div>
		</div><!-- /col -->
		
		<div class="col-xs-3" xstyle="padding: 3px; " ng-dblclick="checklistExpanded = true">
			<div ng-hide="checklistExpanded || patient.doc.checklist == undefined">
				<div ng-include="'patients/_checklist_compact.html'"></div>
			</div>
			<div ng-show="checklistExpanded || patient.doc.checklist == undefined">
				<textarea ng-model="patient.doc.checklist" class="hidden-print" ng-blur="checklistExpanded = false" autosave-patient="patient" placeholder="type..."></textarea>
				<div class="visible-print-block">{{ patient.doc.checklist }}</div>
			</div>
			
		</div><!-- /col -->
	</div>
	<style type="text/css" media="screen">
		#covering-table textarea {
			width: 100%; 
			border: 0px;
			background-color: transparent;
			height: 120px;
		}
		
		#covering-table > .row {
			border-bottom: #ccc 1px solid;
			padding-bottom: 6px;
			padding-top: 6px;
		}
		
		#covering-table > .row.active {
			background-color: whitesmoke;
		}
		
		.visible-print-block {
			font-size: 8px;
		    display: block;
		    padding: 9.5px;
		    margin: 0 0 10px;
		    word-break: break-all;
		    word-wrap: break-word;
		}
	</style>
</div>

<a href="#/patients/new">New Patient</a>